! ========================
!        Couleurs
! ========================
*.background:       #273747
*.background-alt:   #5a000000
*.foreground:       #eefafafa
*.foreground-alt:   #ccc
*cursorColor:       #9aedfe
*.underline:        #fba922
*.primary:          #ffb52a
*.secondary:        #e60053
*.disconnected:     #888
*.alert:            #cc241d
*.accent:           #81a1c1
*.power:            #cb4b16
*.active:           #FFFF00


! =================
!       Xft
! =================
Xft.dpi:          	    96
Xft.depth:              32
Xft.antialias:     	    true
Xft.rgba:		        subpixel
Xft.hinting:       	    true
Xft.hintstyle:		    hintslight
Xft.lcdfilter:	    lcddefault

c64*font: xft:Adore64:autohint=false:antialias=false:size=7
c64*background: #3a319c
c64*foreground: #7b71d6

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
