!===========================
!          Snazzy 
!===========================

URxvt*saveline:         15000
URxvt*font:             xft:DejaVu Sans Mono:regular:size=13, xft:FontAwesome:size=10
URxvt*boldFont:		    xft:DejaVu Sans Mono:bold:size=13
!URxvt*letterSpace:      -1
URxvt*iso14755:         false
URxvt*depth:            32
URxvt*utf8:		        true
URxvt*cursorColor2:     #ff6ac1
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt*externalBorder:   0
Rxvt*.geometry: 	    80x40
Rxvt*.internalBorder:	20
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true


!======================
!     URxvt Snazzy
!======================
URxvt*background:       [97]#282a36
URxvt*foreground:       #eff0eb
URxvt*cursorColor:      #9aedfe

URxvt*color0:           #33303b
URxvt*color8:           #4f4b58
URxvt*color1:           #ff5c57
URxvt*color9:           #ff5c57
URxvt*color2:           #5af78e
URxvt*color10:          #5af78e
URxvt*color3:           #f3f99d
URxvt*color11:          #f3f99d
URxvt*color4:           #57c7ff
URxvt*color12:          #57c7ff
URxvt*color5:           #ff6ac1
URxvt*color13:          #ff6ac1
URxvt*color6:           #9aedfe
URxvt*color14:          #9aedfe
URxvt*color7:           #eff0eb
URxvt*color15:          #eff0eb



! ========================
!        Couleurs
! ========================
*.background:       #273747
*.background-alt:   #5a000000
*.foreground:       #eefafafa
*.foreground-alt:   #ccc
*cursorColor:       #9aedfe
*.underline:        #fba922
*.primary:          #ffb52a
*.secondary:        #e60053
*.disconnected:     #888
*.alert:            #cc241d
*.accent:           #81a1c1
*.power:            #cb4b16
*.active:           #FFFF00



! =================
!       Xft
! =================
Xft.dpi:          	    96
Xft.antialias:     	    true
Xft.rgba:		        subpixel
Xft.hinting:       	    true
Xft.hintstyle:		    hintslight
! Xft.lcdfilter:	    lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11